/* Form */
.contact {
  max-width: 45rem;
  padding: 2rem 1rem;
  border-radius: 8px;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1rem;
}

.form__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;

  @media screen and (max-width: 33.125rem) {
    grid-template-columns: 1fr;
  }
}

.form__label {
  display: inline-block;
  padding-bottom: 0.5rem;
  cursor: pointer;
}

.form__input {
  width: 100%;
  min-height: 3rem;
  font-size: 0.875rem;
  font-family: inherit;
  color: inherit;
  padding: 0.5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  cursor: pointer;
}

.form__input:focus {
  outline: 2px solid #2563eb;
  outline-offset: 2px;
  border: 1px solid #2563eb;
}

/* Error classes */
.form__input-error {
  border: 1px solid red;
}

.fullNameError,
.emailError,
.subjectError,
.messageError {
  color: red;
  margin-top: 0.2rem;
  font-size: 0.875rem;
  transition: all 0.1s ease-in;
}

/* Message group */
.message__group .form__input {
  min-height: 6rem;
}

/* Button */
.button {
  border: none;
  font-size: 1.2rem;
  font-weight: 500;
  color: #fff;
  background-color: #2563eb;
  padding: 1rem 2rem;
  border-radius: 6px;
  outline: 2px solid transparent;
  outline-offset: 2px;
  cursor: pointer;
  margin-top: 1rem;
  transition: all 0.3s ease-in;
}

.button:hover {
  opacity: 0.85;
  transform: translateY(-2px);
}

.button:focus {
  outline: 2px solid #2563eb;
}

/* Success Message */
.hidden {
  width: clamp(18rem, 90%, 25rem);
  color: #fff;
  background-color: #2563eb;
  border-radius: 6px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-self: center;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
  visibility: hidden;
  transition: transform 0.3s ease-in;
  z-index: 999;
}

.success-title-box {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.success-title {
  font-weight: 400;
}

.success {
  opacity: 1;
  visibility: visible;
  transform: translateY(20%);
  transition: transform 0.3s ease-in;
}
